server:
  port: 10025

spring:
  mail:
    host: ${SMTP_HOST:email-smtp.us-east-1.amazonaws.com}
    username: ${SMTP_USER:aws-ses-user}
    password: ${SMTP_PASSWORD:aws-ses-key}
    properties:
      mail:
        transport:
          protocol: smtp
      smtp:
        port: ${SMTP_PORT:587}
        auth: true
        enable: true
        required: true

fondus:
  settings:
    mail:
      from: mail-noreply@fondus.com.tw

templates:
  name: model-verification
  folder: $.data.status
